# Ignore the sandbox folder
venv/
.venv/

# Ignore the secret safe! NEVER let this get uploaded.
.env

# Ignore system files
__pycache__/
.DS_Store

# Unwanted files
*.pdf
chroma_db/
logs/
.deepeval/
